name: Test notebooks

on: [push,pull_request]

jobs:
  nbmake:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-18.04, macos-10.15]

    steps:
    - uses: actions/checkout@v1

    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Install build dependencies
      run: |
          python -m pip install -r ./.binder/requirements.txt
          python -m pip install nbmake[html]
    - uses: "treebeardtech/nbmake-action@v0.2"
      with:
        path: "./examples/"
        path-output: .
